<ion-view hide-nav-bar="true" hide-back-button="true">


        <header>
            <div class="bar bar-header bar-side-menu">
                <a mm-user-link userid="{{siteinfo.userid}}" class="item item-avatar item-icon-right full-image">
                    <img ng-src="{{siteinfo.userpictureurl}}" alt="{{ 'mm.core.pictureof' | translate:{$a: siteinfo.fullname} }}" role="presentation" mm-external-content>
                    <h2>{{siteinfo.fullname}}</h2>
                    <p><mm-format-text watch="true">{{siteinfo.sitename}}</mm-format-text></p>
                    <i class	="icon ion-ios-arrow-right"></i>
                </a>
            </div>
        </header>
        <ion-content class="has-side-menu-header">
			<div class = "row">
			   <div class = "col">
               <a class="item item-icon-left" ui-sref="site.mm_courses" title="{{ 'mm.sidemenu.mycourses' | translate}}">
                   <i class="icon ion-ionic"></i>
                   {{ 'mm.sidemenu.mycourses' | translate}}
               </a>
			   </div>
			</div>
			

			
			<div class="row">
			   <div class = "col">
               <a class="item item-icon-left" ng-href="{{siteinfo.siteurl}}" mm-link auto-login="yes" title="{{ 'mm.sidemenu.website' | translate}}">
                   <i class="icon ion-earth"></i>{{ 'mm.sidemenu.website' | translate}}
               </a>			   
			   </div>
			   <div class = "col">
               <a class="item item-icon-left" ng-href="{{docsurl}}" mm-link auto-login="no" title="{{ 'mm.sidemenu.help' | translate}}">
                   <i class="icon ion-help-buoy"></i>{{ 'mm.sidemenu.help' | translate}}
               </a>
			   </div>
			   <div class = "col">
               <a class="item item-icon-left" ui-sref="site.mm_settings" title="{{ 'mm.sidemenu.appsettings' | translate}}">
                   <i class="icon ion-gear-b"></i>{{ 'mm.sidemenu.appsettings' | translate}}
               </a>
			   </div>

			</div>
        </ion-content>
    </ion-view>
