<ion-view hide-nav-bar="true" hide-back-button="true">


        <header>
            <div class="bar bar-header bar-side-menu">
                <a mm-user-link userid="{{siteinfo.userid}}" class="item item-avatar item-icon-right full-image">
                    <img ng-src="{{siteinfo.userpictureurl}}" alt="{{ 'mm.core.pictureof' | translate:{$a: siteinfo.fullname} }}" role="presentation" mm-external-content>
                    <h2>{{siteinfo.fullname}}</h2>
                    <p><mm-format-text watch="true">{{siteinfo.sitename}}</mm-format-text></p>
                    <i class	="icon ion-ios-arrow-right"></i>
                </a>
            </div>
        </header>
        <ion-content class="has-side-menu-header">
			  <ion-grid>
			    <ion-row>
			      <ion-col>
			        <div>1 of 2</div>
			      </ion-col>
			      <ion-col>
			        <div>2 of 2</div>
			      </ion-col>
			    </ion-row>
			    <ion-row>
			      <ion-col>
			        <div>1 of 3</div>
			      </ion-col>
			      <ion-col>
			        <div>2 of 3</div>
			      </ion-col>
			      <ion-col>
			        <div>3 of 3</div>
			      </ion-col>
			    </ion-row>
			  </ion-grid>
        </ion-content>
    </ion-view>
