<ion-view hide-nav-bar="true" hide-back-button="true">


        <header>
            <div class="bar bar-header bar-side-menu">
                <a mm-user-link userid="{{siteinfo.userid}}" class="item item-avatar item-icon-right full-image">
                    <img ng-src="{{siteinfo.userpictureurl}}" alt="{{ 'mm.core.pictureof' | translate:{$a: siteinfo.fullname} }}" role="presentation" mm-external-content>
                    <h2>{{siteinfo.fullname}}</h2>
                    <p><mm-format-text watch="true">{{siteinfo.sitename}}</mm-format-text></p>
                    <i class	="icon ion-ios-arrow-right"></i>
                </a>
            </div>
        </header>
        <ion-content class="has-side-menu-header">
				<ion-grid>
				  <ion-row>
				    <ion-col col-4>
                  <a class="item item-icon-left" ui-sref="site.mm_courses" title="{{ 'mm.sidemenu.mycourses' | translate}}">
                      <i class="icon ion-ionic"></i>
                      {{ 'mm.sidemenu.mycourses' | translate}}
                  </a>
				    </ion-col>
					 <ion-col col-4>
                  <a class="item item-icon-left" ui-sref="{{state}}" title="{{title | translate}}" ng-class="{'item-icon-right': loading}">
                      <i class="icon {{icon}}"></i> {{title | translate}}
                      <span ng-show="!loading && badge" class="badge badge-positive">{{badge}}</span>
                      <ion-spinner ng-if="loading" class="icon"></ion-spinner>
                  </a>
                  asasa
					 </ion-col>
					 <ion-col col-4>
                  <a ng-if="item.type != 'embedded'" class="item item-icon-left" ng-href="{{item.url}}" mm-link in-app="{{item.type == 'inappbrowser'}}" title="{{item.label}}">
                      <i class="icon {{item.icon}}"></i>{{item.label}}
                  </a>
                  asasas
					 </ion-col>
				  </ion-row>
				</ion-grid>
        </ion-content>
    </ion-view>
